/*
*
*@author Gisely Alves Brandão
*@version 0.1
*/

/* ========= layout =====*/

html,body, .capa {
	height: 100%; 

}


body{
	background:	linear-gradient(50deg, #7FFFD4 ,black);
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;
	background-size: 100%;
}


.navbar{
	background-color: rgba(105,105,105,0.1);
	box-shadow: 3px 3px 50px black;
	border: rgba(0,0,0,0.3);
	padding: 10px;
	position: relative;
}

nav .navbar-transparente{
	
	background: white;
	border:none;
	
}
.navbar-brand{
	height: 100%;
	padding: 0px;
	width: auto;
	display: block;
	margin-top: 10%;
	text-align: center;
	
	
}
.navbar-brand> img{
	margin: 0px;
	height: 55px;

}
.navbar-inverse .navbar-brand{
	color: #363636;
	line-height: 15px;
	font-size: 20px;
	
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>li>a, footer .nav a {
	color: #089de3;
	background: none;
	font-size: 18px;
}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
	color: #6009EB;
	background: none;
}

#bs-example-navbar-collapse-1{
	float: right;
	width: 200px;
	position: relative;


}
.dropdown>button{
	background: transparent;
	color: white;
}

#bs-example-navbar-collapse-1 li ul {
	right: 0;
/* tentativa de deixar o dropdown alinhado a esqueda do botão*/
}
#bs-example-navbar-collapse-1 ul li{
	position: relative;
	display: inline-block;
	right: 0;
}

#bs-example-navbar-collapse-1 .dropdown{
	right: 0;
	width: 200px;
	margin-left: 40px;

	
}


h2{
	color: #089de3;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: -0.04em;
}
h6, h5{
	color: #6009EB;
	font-weight: 700;
	letter-spacing: -0.04em;
}
a{
	color: #6009EB;
	/*#7c25f8;*/
}
a:hover{
	color: #089de3;
	/*#BA55D3;*/
}

.opt, .mapa>div{
	display: block;
	width: 100%;
	margin: auto;
	margin-bottom: 20px;
	background-color: white;
	padding: 20px;
	height: 100%;
	position: relative;

	
}
.mapa{
	height: 100%;


}
.opcoes .input-group{
	margin: 10px;
	position: relative;

}
.opcoes .chk {
	display: inline-block;
	 margin-right: 30px;

}

.container{
	height: 63%;
}

